<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームエンジニア</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- スタイルシートのリンク -->
    <link rel="stylesheet" href="/src/css/home-engineer/home-engineer-common.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <!-- ファビコンのリンク -->
    <link rel="icon" href="favicon.ico">
</head>

<body>
<!-- ヘッダー -->
<div class="header-container-1024">
    {% include 'header/small.twig' %}
</div>
<div class="header-container-1023">
    {% include 'header/confirm.twig' %}
</div>

<div class="sub-header">
    <a href="/index.php">HOME</a>　＞　<a href="/top/index.php#business">事業情報</a>　＞　<a href="/business/electric-safety/index.php">ホームエンジニア</a>
</div>

<!-- ヘッダー下 -->
    <div class="background-image-section">
        <!-- このセクションに背景画像が表示されます -->
        <h1>ホームエンジニア</h1>
    </div>
    <div class="heade-lag">
        <div class="heade-auto">
            <!-- このセクションに背景画像が表示されます -->
            <p><strong>皆様の日常生活に欠かせない電気。</strong></p>
            <p>電気はただそこにあるだけではなく、その背後で多くの専門技術と綿密な管理が行われています。</p>
            <p>お客さまが安全で安心して電気をご使用いただけるように、私たちは日夜努力を重ねております。</p>
            <p>私たちはお客様がご使用されている電気の品質向上を目指し、更なるサービスの向上に努めております。</p>
        </div>
    </div>
    <div class="sagyou-auto">
        <div class="sagyou-side">
            <div class="sagyou-naiyo">
                <div class="sagyou-text">
                    <!-- 文章を挿入 -->
                    <div class="bun">
                    <p><strong>一般作業:</strong></p>
                    <p>定期的な点検や計器の交換、必要に応じた停止や送電作業を行い、常に最適な電力供給を目指します。</p>
                    </div>

                    <div class="bun">
                    <p><strong>移転時の電気設備調査:</strong></p>
                    <p>お引越しの際には、新しいご住所での電気設備の状況を詳細に調査し、スムーズなサービスの移行を支援いたします。</p>
                    </div>

                    <div class="bun">
                    <p><strong>電気容量の契約変更:</strong></p>
                    <p>エアコンの増設などアンペア容量を変更する際に、アンペアブレーカー（分電盤内）の交換や必要に応じた電気メーターの取り換えを行い、安全性を確保した電力供給を行います。</p>
                    </div>

                    <div class="bun">
                    <p><strong>契約者情報確認及び変更先調査:</strong></p>
                    <p>登録されているお客さまの情報が最新状態であることを現地にて確認し、変更がある場合は迅速に対応いたします。</p>
                    </div>

                </div>
                <div class="sagyou-photo">
                    <!-- 写真を挿入 -->
                    <img src="/src/img/事業情報/ホームエンジニア/ホームエンジニア１.jpg">
                </div>
            </div>
        </div>
        <div class="sagyou-stand">
            <div class="sagyou-naiyo">
                <div class="sagyou-photo">
                    <!-- 写真を挿入 -->
                    <img src="/src/img/事業情報/ホームエンジニア/ホームエンジニア１.jpg">
                </div>
                <div class="sagyou-text">
                    <!-- 文章を挿入 -->
                    <div class="bun">
                    <p><strong>一般作業:</strong></p>
                    <p>定期的な点検や計器の交換、必要に応じた停止や送電作業を行い、常に最適な電力供給を目指します。</p>
                    </div>

                    <div class="bun">
                    <p><strong>移転時の電気設備調査:</strong></p>
                    <p>お引越しの際には、新しいご住所での電気設備の状況を詳細に調査し、スムーズなサービスの移行を支援いたします。</p>
                    </div>

                    <div class="bun">
                    <p><strong>電気容量の契約変更:</strong></p>
                    <p>エアコンの増設などアンペア容量を変更する際に、アンペアブレーカー（分電盤内）の交換や必要に応じた電気メーターの取り換えを行い、安全性を確保した電力供給を行います。</p>
                    </div>

                    <div class="bun">
                    <p><strong>契約者情報確認及び変更先調査:</strong></p>
                    <p>登録されているお客さまの情報が最新状態であることを現地にて確認し、変更がある場合は迅速に対応いたします。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin">
    </div>

    <div class="sagyou-auto-2">
        <div class="sagyou-naiyo">
            <div class="sagyou-photo-2">
                <!-- 写真を挿入 -->
                <img src="/src/img/事業情報/ホームエンジニア/ホームエンジニア２.jpg">
            </div>
            <div class="sagyou-text">
                <!-- 文章を挿入 -->
                <div class="bun">
                <p><strong>社内研修</strong></p>
                <p><minstrong>国家資格第二種電気工事士資格</minstrong>の取得を目指します。</p>
                <p>電気工事の基礎理論から応用技術に至るまでの幅広い知識の習得を行います。資格取得に必要な技術力の向上を図ります。</p>
                </div>

                <div class="bun">
                <p><strong>マナー研修</strong></p>
                <p> お客様との適切なコミュニケーション、ビジネスシーンでの正しい振る舞いなど、社会人基礎力の養成に重点を置きます。</p>
                </div>

                <div class="bun">
                <p><strong>作業技術の実践（模擬盤）研修</strong></p>
                <p><minstrong>設備点検</minstrong>: 電気設備の点検や測定の方法等を学びます。</p>
                <p><minstrong>設備交換</minstrong>: 電気設備を安全に交換する技術を習得します。</p>
                <p><minstrong>停止・送電作業</minstrong>: 電気供給の停止や再開送電に必要な手順と安全管理を学びます。</p>
                </div>
            </div>
        </div>
    </div>

<!--ナビゲーション-->
   <div class="header-container-1024">
         {% include 'footer/footer.twig' %}
    </div>

    <div class="header-container-1023">
         {% include 'footer/confirm.twig' %}
    </div>
    <!-- JavaScriptのリンク -->
    <script src="/src/js/busines-header/busines-hover.js"></script>
</body>
</html>