<!--ナビゲーション-->
    <nav>
        <div class="navige">
            <ul class="nav-list">
                <li class="nav-list-li"><a href="#news" class="large-text">ニュース</a></li>
                <li class="nav-list-li">
                    <a href="#business"  class="large-text">事業情報</a>
                    <ul class="nav-list-ul">
                        <li><a href="/business/electric-safety/index.php">電気安全調査</a></li>
                        <li><a href="/business/home-engineer/index.php">ホームエンジニア</a></li>
                        <li><a href="/business/gas-engineer/index.php">ガスエンジニア</a></li>
                        <li><a href="/business/ev-charger/index.php">EV充電器設置</a></li>
                    </ul>
                </li>
                <li class="nav-list-li">
                    <a href="#company-info"  class="large-text">企業情報</a>
                    <ul class="nav-list-ul">
                        <li><a href="/company/firm/index.php">会社概要・アクセス</a></li>
                        <li><a href="/company/CEO/index.php">CEOメッセージ</a></li>
                        <li><a href="/company/member/index.php">経営メンバー</a></li>
                        <li><a href="/company/vision/index.php">企業理念</a></li>
                    </ul>
                </li>
                <li class="nav-list-li">
                    <a href="#recruit"  class="large-text">採用情報</a>
                    <ul class="nav-list-ul">
                        <li><a href="/recruit/技術系採用/index.php">技術系</a></li>
                        <li><a href="/recruit/事務系採用/index.php">事務系</a></li>
                    </ul>
                </li>
                <li class="nav-list-li">
                    <a href="#contact"  class="large-text">お問い合わせ</a>
                    <ul class="nav-list-ul">
                        <li><a href="/電気点検お問い合わせ/index.php">電気点検</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- フッター -->
    <footer>
        <p>&copy; 株式会社SHOEI. All rights reserved.</p>
    </footer>