<header>
    <div class="smaller-header">
        <div class="header-content">
            <div class="logo">
                <a href="#"><img src="/src/img/shoeiROGO.jpg" alt="昭栄電気産業"></a>
                <div class="company-name"><a href="/index.php">昭栄電気産業</a></div>
            </div>
            <nav class="main-nav">
                <ul>
                    <li class="nav-business"><a href="/top/index.php#business">事業情報</a></li>
                    <li class="nav-about"><a href="/top/index.php#company-info">企業情報</a></li>                        
                    <li class="nav-careeers"><a href="/top/index.php#recruit">採用情報</a></li>
                    <li class="nav-contact"><a id="contact" href="/電気点検お問い合わせ/index.php">電気安全点検に関するお問い合わせ</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-overlay-nav-before">
    <div>
</header>