<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/css/form/bootstrap.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <title>{{ title }}</title>
</head>
<body>
<!-- ヘッダー -->
{% include 'header/small.twig' %}
    <header>
      <div class="header-Main">
          <h1>お問い合わせありがとうございました。</h1>
          <h2>担当の者が確認次第、折り返しご連絡致します。</h2>
      </div>
    </header>
    <script src="/src/js/busines-header/busines-hover.js"></script>
  </body>
</html>
