<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ガスエンジニア</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- スタイルシートのリンク -->
    <link rel="stylesheet" href="/src/css/gas-engineer/gas-engineer.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <!-- ファビコンのリンク -->
    <link rel="icon" href="favicon.ico">
</head>

<body>
<!-- ヘッダー -->
<div class="header-container-1024">
    {% include 'header/small.twig' %}
</div>
<div class="header-container-1023">
    {% include 'header/confirm.twig' %}
</div>

<div class="sub-header">
    <a href="/index.php">HOME</a>　＞　<a href="/top/index.php#business">事業情報</a>　＞　<a href="/business/gas-engineer/index.php">ガスエンジニア</a>
</div>

<!-- ヘッダー下 -->
    
    <div class="background-image-section">
        <!-- このセクションに背景画像が表示されます -->
        <h1>ガスエンジニア</h1>
    </div>

    <div class="heade-lag">
        <div class="heade-auto">
            <!-- このセクションに背景画像が表示されます -->
            <p><strong>お客さまがお使いのガスに関する安全と信頼を守る</strong></p>
            <p>ガス事業法規遵守とリスク管理を通じて、お客様の安心を守り続けます。</p>
            <p>私たちは、厳密な法規制に基づき、精密な技術と専門知識を駆使して日々の点検や調査を行います。</p>
            
        </div>
    </div>

    <div class="margin">
    </div>

    <div class="check-auto">
        <div class="content-stand">
            <div class="content-wrapper">
                <div class="photos">
                    <img class="photo-1" src="/src/img/事業情報/ガスエンジニア/ガスエンジニア１.jpg" alt="写真1">
                    <img class="photo_2" src="/src/img/事業情報/ガスエンジニア/ガスエンジニア２.jpg" alt="写真2">
                </div>
                <div class="text">
                    <!-- 文章を挿入 -->
                    <div class="bun">
                        <h1><minstrong>ガスの定期点検調査業務</minstrong></h1>
                        <h2><strong>調査のお知らせ</strong></h2>
                        <p>ガス設備点検の通知を郵送にて発送し、事前にお客様へ周知。日程調整を顧客の都合に合わせて行います。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">
                    <div class="bun">
                        <h2><strong>現地調査実施</strong></h2>
                        <p>各機器の接続状態や点火確認を、ガス漏れ確認を、お客様の立会いのもと屋内で実施します。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>問診及び安全周知活動</strong></h2>
                        <p>「ガスのお困りごと」の相談や、「注意事項」の説明を通じて安全使用を促進します。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>調査結果の報告</strong></h2>
                        <p>点検結果を文書にてお客様にお渡しし、必要な対応を説明します。</p>
                    </div>

                    <div class="bun" style="margin-top:10%;">
                        <h1><minstrong>移転時のガス設備調査</minstrong></h1>
                        <h2><strong>ガスメーターの開閉栓</strong></h2>
                        <p>お引越しなどでのガス供給開始時にはメーターの開栓を行います。供給停止時には閉栓を行い、開閉栓それぞれにおいて安全確認を実施します。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">
                    <div class="bun">
                        <h2><strong>ガス漏れ確認</strong></h2>
                        <p>ガス供給開始時の開栓では、ガス満れがないかを確認し、全てのガス機器が正常に機能するかを検証します。</p>
                    </div>  
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>安全使用のご説明</strong></h2>
                        <p>お客様に対してガス機器の適切な使い方や、緊急時の対処方法を詳しく説明し、安全な使用を再確認します。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-side">
            <div class="content-wrapper">
                <div class="photos">
                    <img class="photo-1" src="/src/img/事業情報/ガスエンジニア/ガスエンジニア１.jpg" alt="写真1">
                    <img src="/src/img/事業情報/ガスエンジニア/ガスエンジニア２.jpg" alt="写真2">
                </div>
                <div class="text">
                    <!-- 文章を挿入 -->
                    <div class="bun">
                        <h1><minstrong>ガス保安業務</minstrong></h1>
                        <h2><strong>調査のお知らせ</strong></h2>
                        <p>ガス設備点検の通知を郵送にて発送し、事前にお客様へ周知。日程調整を顧客の都合に合わせて行います。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">
                    <div class="bun">
                        <h2><strong>現地調査実施</strong></h2>
                        <p>各機器の接続状態や点火確認を、ガス漏れ確認を、お客様の立会いのもと屋内で実施します。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>問診及び安全周知活動</strong></h2>
                        <p>「ガスのお困りごと」の相談や、「注意事項」の説明を通じて安全使用を促進します。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>調査結果の報告</strong></h2>
                        <p>点検結果を文書にてお客様にお渡しし、必要な対応を説明します。</p>
                    </div>
                    

                    <div class="bun" style="margin-top:10%;">
                        <h1><minstrong>移転時のガス設備調査</minstrong></h1>
                        <h2><strong>ガスメーターの開閉栓</strong></h2>
                        <p>お引越しなどでのガス供給開始時にはメーターの開栓を行います。供給停止時には閉栓を行い、開閉栓それぞれにおいて安全確認を実施します。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">
                    <div class="bun">
                        <h2><strong>ガス漏れ確認</strong></h2>
                        <p>ガス供給開始時の開栓では、ガス満れがないかを確認し、全てのガス機器が正常に機能するかを検証します。</p>
                    </div>  
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>安全使用のご説明</strong></h2>
                        <p>お客様に対してガス機器の適切な使い方や、緊急時の対処方法を詳しく説明し、安全な使用を再確認します。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="margin">
    </div>
    
<!--ナビゲーション-->
   <div class="header-container-1024">
         {% include 'footer/footer.twig' %}
    </div>

    <div class="header-container-1023">
         {% include 'footer/confirm.twig' %}
    </div>
    <!-- JavaScriptのリンク -->
    <script src="/src/js/busines-header/busines-hover.js"></script>
</body>
</html>