<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>私たちの存在意義</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- スタイルシートのリンク -->
    <link rel="stylesheet" href="/src/css/vision/vision.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <!-- ファビコンのリンク -->
    <link rel="icon" href="favicon.ico">
</head>

<body>
<!-- ヘッダー -->
<div class="header-container-1024">
    {% include 'header/small.twig' %}
</div>
<div class="header-container-1023">
    {% include 'header/confirm.twig' %}
</div>

<div class="sub-header">
    <a href="/index.php">HOME</a>　＞　<a href="/top/index.php#company-info">企業情報</a>　＞　<a href="/company/vision/index.php">私たちの想い</a>
</div>

<!-- ヘッダー下 -->
    
    <div class="background-image-section">
        <!-- このセクションに背景画像が表示されます -->
        <h1>私たちの存在意義</h1>
    </div>

    <div class="margin">
    </div>

    <div class="bak">
        <main>
            <p>
                私たち昭栄グループの<span class="highlight">存在意義</span>とは、改めて言うまでもなく、人々の日常生活に必要不可欠な<span class="highlight">エネルギーの安定供給</span>に<span class="highlight">貢献するサービスを提供</span>するために存在しています。
                エネルギー産業における膨大な設備は多岐に渡っていますので、その極一部にでも障害が発生すると一瞬で供給は停止してしまいます。<br><br>
                従いまして、膨大かつ緻密な保守・メンテ業務は大変重要となります。保守・メンテ業務の対価を頂戴し企業活動を継続している当社にとって、設備不全を生じさせる業務は社会への背信行為に他なりません。
                そこで今回<span class="highlight">不適切・不備・不法行為等を排除</span>し、皆さんと輝かしい未来に向かって前進するために【<span class="highlight">昭栄グループにおける行動基準</span>】を制定することで誠実で実直な業務運営に力を尽くします。<br><br>
                <span class="highlight">従業員の皆さまとご家族・昭栄グループ・お客さま・パートナー企業さま・社会</span>等のために、今まで以上に<span class="highlight">誠実・実直な業務運営</span>により<span class="highlight">高品質・高効率なサービスの提供</span>を目指し、一丸となって全力で努力してまいります。
            </p>
        </main>
        
        <div class="container-g">
            <h1>昭栄グループにおける行動基準</h1>
            <h2>1. 安全最優先</h2>
            <p>〇昭栄グループは、何よりも<strong>安全を最優先</strong>する企業でなくてはなりません。</p>
            <h3>（1）作業安全</h3>
            <ul>
                <li>私たちは、自分と家族を守るため決められたルールや手順を遵守するとともに保護具・防護具を完全着用します。</li>
                <li>私たちは、仲間を守るために不安全行為を発見した場合は必ずその場で注意します。</li>
                <li>私たちは、万一、事故や災害に遭遇または発生に関与した場合は警察・消防・関係各所に迅速な連絡をします。</li>
            </ul>
            <h3>（2）交通安全</h3>
            <ul>
                <li>私たちは、道路交通法等の法令を遵守します。</li>
                <li>私たちは、地域の皆さまに対して思いやりのある優しい運転に徹します。</li>
                <li>私たちは、万一、事故や災害に遭遇または発生に関与した場合は警察・消防・関係各所に迅速な連絡をします。</li>
            </ul>
            <h3>（3）健康・衛生安全</h3>
            <ul>
                <li>私たちは、日頃から健康管理の重要性を認識し社会人として節度ある行動をします。</li>
                <li>私たちは、常に職場安全に注意を払い不安全設備の排除に徹します。</li>
                <li>私たちは、職場内における不安全設備を発見した場合、遺漏なく報告します。</li>
            </ul>
            <h2>2. 誠実・実直な業務運営</h2>
            <p>〇昭栄グループは、<strong>誠実・実直な業務運営</strong>をする企業でなくてはなりません。</p>
            <h3>（1）法令・契約・社内ルール等の遵守（コンプライアンス）</h3>
            <ul>
                <li>私たちは、法令・契約・社内ルール等の遵守により不適切な行為をしません。</li>
                <li>私たちは、環境等の事情により法令・契約・社内ルール等を逸脱する可能性がある場合はその業務を中止します。</li>
            </ul>
            <h3>（2）個人情報・業務情報の適正管理</h3>
            <ul>
                <li>私たちは、個人情報・業務情報を適切に管理し、許可なく第三者に開示したり業務以外に使用しません。</li>
                <li>私たちは、社内のルールに則り現場へ持ち出します。</li>
                <li>私たちは、万一、漏洩・紛失等に気付いた時は遅滞なく関係者へ報告します。</li>
            </ul>
            <h3>（3）高品質なサービスの提供</h3>
            <ul>
                <li>私たちは、業務の工程毎ならび完了時に必ず品質の確認を実施するとともに記録を残します。</li>
                <li>私たちは、長期間全天候下で使用される設備であることを認識し、丁寧かつ緻密な業務に徹します。</li>
                <li>私たちは、知識・品質・技術の向上を志向し、定期的な研修や勉強会での開催により研鑽を図ります。</li>
            </ul>
        </div>
    </div>
    
     <div class="margin">
    </div>
<!--ナビゲーション-->
     <!-- フッター -->
    <div class="header-container-1024">
         {% include 'footer/footer.twig' %}
    </div>

    <div class="header-container-1023">
         {% include 'footer/confirm.twig' %}
    </div>


    <!-- JavaScriptのリンク -->
    <script src="/src/js/busines-header/busines-hover.js"></script>
</body>
</html>