<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電気安全調査</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- スタイルシートのリンク -->
    <link rel="stylesheet" href="/src/css/elc-check/elc-check-common.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <!-- ファビコンのリンク -->
    <link rel="icon" href="favicon.ico">
</head>

<body>
<!-- ヘッダー -->
<div class="header-container-1024">
    {% include 'header/small.twig' %}
</div>
<div class="header-container-1023">
    {% include 'header/confirm.twig' %}
</div>

<div class="sub-header">
    <a href="/index.php">HOME</a>　＞　<a href="/top/index.php#business">事業情報</a>　＞　<a href="/business/electric-safety/index.php">電気安全調査</a>
</div>
<!-- ヘッダー下 -->
    
    <div class="background-image-section">
        <!-- このセクションに背景画像が表示されます -->
        <h1>電気安全調査</h1>
    </div>

    <div class="heade-lag">
        <div class="heade-auto">
            <!-- このセクションに背景画像が表示されます -->
            <p><strong>電気の安全は、生活を支える基盤です。</strong></p>
            <p>我々は緻密な調査と厳格な品質管理を行い、電気設備の安全性を保証します。</p>
            <p>安全で快適な電気の使用環境を提供することで、お客様における生活品質の向上に貢献してまいります。</p>
        </div>
    </div>

    <div class="margin">
    </div>

    <div class="check-auto">
        <div class="content-stand">
            <div class="content-wrapper">
                <div class="photos">
                    <img class="photo-1" src="/src/img/事業情報/電気安全調査/電気安全調査２.jpg" alt="写真1">
                </div>
                <div class="text">
                    <!-- 文章を挿入 -->
                    <div class="bun">
                        <h1><minstrong>定期点検調査業務</minstrong></h1>
                        <h2><strong>調査の準備</strong></h2>
                        <p>調査エリアの日程計画を立て、管理会社さま等と作業日の日程調整を行います。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">
                    <div class="bun">
                        <h2><strong>調査のお知らせ</strong></h2>
                        <p>「電気設備安全点検訪問日のお知らせとお願い（青色の用紙）」により、お客さま宅へ調査予定日時の事前周知を行います。</p>
                    </div>

                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>調査の実施</strong></h2>
                        <p>調査当日には屋外にて引込線の施設状況を確認し、漏れ電流を測定します。屋内では、分盤の施設状況や漏電遮断器のネジの緩み（発熱原因）を確認します。</p>
                    </div>

                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>問診</strong></h2>
                        <p>調査中または終了時に「電気のお困りごと」をお聞きしご相談に応じます。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>調査の結果報告</strong></h2>
                        <p>お客様への「電気設備安全点検の結果について」を用いてお客さまへ調査結果をお知らせします。</p>
                    </div>
                </div>

                <div class="margin">
                </div>

                <div class="photos">
                    <img src="/src/img/事業情報/電気安全調査/電気安全調査３.jpg" alt="写真2">
                </div>
                <div class="text">
                    <!-- 文章を挿入 -->
                    <div class="shin">
                        <h1><minstrong>新築点検調査業務</minstrong></h1>
                        <p><strong>新しい設備の使用前検査</strong></p>
                        <p>新築宅では電気の使用前に竣工調査を行い、安全で高品質なの電気をご使用して頂くためのの検査となります。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-side">
            <div class="content-wrapper">
                <div class="photos-oya">
                    <div class="photos">
                        <img class="photo-1" src="/src/img/事業情報/電気安全調査/電気安全調査２.jpg" alt="写真1">
                        <img class="photo-2" src="/src/img/事業情報/電気安全調査/電気安全調査３.jpg" alt="写真2">
                    </div>
                </div>
                <div class="text">
                    <!-- 文章を挿入 -->
                    <div class="bun">
                        <h1><minstrong>定期点検調査業務</minstrong></h1>
                        <h2><strong>調査の準備</strong></h2>
                        <p>調査エリアの日程計画を立て、管理会社さま等と作業日の日程調整を行います。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">
                    <div class="bun">
                        <h2><strong>調査のお知らせ</strong></h2>
                        <p>「電気設備安全点検訪問日のお知らせとお願い（青色の用紙）」により、お客さま宅へ調査予定日時の事前周知を行います。</p>
                    </div>

                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>調査の実施</strong></h2>
                        <p>調査当日には屋外にて引込線の施設状況を確認し、漏れ電流を測定します。屋内では、分盤の施設状況や漏電遮断器のネジの緩み（発熱原因）を確認します。</p>
                    </div>

                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>問診</strong></h2>
                        <p>調査中または終了時に「電気のお困りごと」をお聞きしご相談に応じます。</p>
                    </div>
                    <img class="yaji" src="/src/img/矢印.png" alt="矢印">

                    <div class="bun">
                        <h2><strong>調査の結果報告</strong></h2>
                        <p>お客様への「電気設備安全点検の結果について」を用いてお客さまへ調査結果をお知らせします。</p>
                    </div>
                    <div class="shin">
                        <h1><minstrong>新築点検調査業務</minstrong></h1>
                        <p><strong>新しい設備の使用前検査</strong></p>
                        <p>新築宅では電気の使用前に竣工調査を行い、安全で高品質なの電気をご使用して頂くための検査となります。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin">
    </div>
    
<!--ナビゲーション-->
     <!-- フッター -->
    <div class="header-container-1024">
         {% include 'footer/footer.twig' %}
    </div>

    <div class="header-container-1023">
         {% include 'footer/confirm.twig' %}
    </div>

    <!-- JavaScriptのリンク -->
    <script src="/src/js/busines-header/busines-hover.js"></script>
</body>
</html>