<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>技術系採用</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- スタイルシートのリンク -->
    <link rel="stylesheet" href="/src/css/技術系採用/技術系採用.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    
    <!-- ファビコンのリンク -->
    <link rel="icon" href="favicon.ico">
</head>

<body>
<!-- ヘッダー -->
<div class="header-container-1024">
    {% include 'header/small.twig' %}
</div>
<div class="header-container-1023">
    {% include 'header/confirm.twig' %}
</div>
<div class="sub-header" >
    <a href="/index.php">HOME</a>　＞　<a href="/top/index.php#recruit">採用</a>　＞　<a href="/recruit/技術系採用/index.php">技術系</a>
</div>

<div class="background-image-section-s">
    <h1>{{ メインタイトル }}</h1>
</div>

{% if 表示 %}
<div class="container-s">

    {% if タイトル１ %}

        <div class="section-s">

            <h2>{{ タイトル１ }}</h2>

            <ul>
                {% if タイトル１の題名１ %}

                    <li>{{ タイトル１の題名１ }}</li>

                {% endif %}

                {% if タイトル１の題名２ %}

                    <li>{{ タイトル１の題名２ }}</li>

                {% endif %}

                {% if タイトル１の題名３ %}

                    <li>{{ タイトル１の題名３ }}</li>

                {% endif %}

                {% if タイトル１の題名４ %}

                    <li>{{ タイトル１の題名４ }}</li>

                {% endif %}

                {% if タイトル１の題名５ %}

                    <li>{{ タイトル１の題名５ }}</li>

                {% endif %}

                {% if タイトル１の題名６ %}

                    <li>{{ タイトル１の題名６ }}</li>

                {% endif %}

                {% if タイトル１の題名７ %}

                    <li>{{ タイトル１の題名７ }}</li>

                {% endif %}

                {% if タイトル１の題名８ %}

                    <li>{{ タイトル１の題名８ }}</li>

                {% endif %}

                {% if タイトル１の題名９ %}

                    <li>{{ タイトル１の題名９ }}</li>

                {% endif %}

                {% if タイトル１の題名１０ %}

                    <li>{{ タイトル１の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル１の詳細 %}

                <p>{{ タイトル１の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}

    {% if タイトル２ %}

        <div class="section-s">

            <h2>{{ タイトル２ }}</h2>

            <ul>

                {% if タイトル２の題名１ %}

                    <li>{{ タイトル２の題名１ }}</li>

                {% endif %}



                {% if タイトル２の題名２ %}

                    <li>{{ タイトル２の題名２ }}</li>

                {% endif %}



                {% if タイトル２の題名３ %}

                    <li>{{ タイトル２の題名３ }}</li>

                {% endif %}



                {% if タイトル２の題名４ %}

                    <li>{{ タイトル２の題名４ }}</li>

                {% endif %}



                {% if タイトル２の題名５ %}

                    <li>{{ タイトル２の題名５ }}</li>

                {% endif %}



                {% if タイトル２の題名６ %}

                    <li>{{ タイトル２の題名６ }}</li>

                {% endif %}



                {% if タイトル２の題名７ %}

                    <li>{{ タイトル２の題名７ }}</li>

                {% endif %}



                {% if タイトル２の題名８ %}

                    <li>{{ タイトル２の題名８ }}</li>

                {% endif %}



                {% if タイトル２の題名９ %}

                    <li>{{ タイトル２の題名９ }}</li>

                {% endif %}



                {% if タイトル２の題名１０ %}

                    <li>{{ タイトル２の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル２の詳細 %}

                <p>{{ タイトル２の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}



    {% if タイトル３ %}

        <div class="section-s">

            <h2>{{ タイトル３ }}</h2>

            <ul>

                {% if タイトル３の題名１ %}

                    <li>{{ タイトル３の題名１ }}</li>

                {% endif %}



                {% if タイトル３の題名２ %}

                    <li>{{ タイトル３の題名２ }}</li>

                {% endif %}



                {% if タイトル３の題名３ %}

                    <li>{{ タイトル３の題名３ }}</li>

                {% endif %}



                {% if タイトル３の題名４ %}

                    <li>{{ タイトル３の題名４ }}</li>

                {% endif %}



                {% if タイトル３の題名５ %}

                    <li>{{ タイトル３の題名５ }}</li>

                {% endif %}



                {% if タイトル３の題名６ %}

                    <li>{{ タイトル３の題名６ }}</li>

                {% endif %}



                {% if タイトル３の題名７ %}

                    <li>{{ タイトル３の題名７ }}</li>

                {% endif %}



                {% if タイトル３の題名８ %}

                    <li>{{ タイトル３の題名８ }}</li>

                {% endif %}



                {% if タイトル３の題名９ %}

                    <li>{{ タイトル３の題名９ }}</li>

                {% endif %}



                {% if タイトル３の題名１０ %}

                    <li>{{ タイトル３の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル３の詳細 %}

                <p>{{ タイトル３の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}



    {% if タイトル４ %}

        <div class="section-s">

            <h2>{{ タイトル４ }}</h2>

            <ul>

                {% if タイトル４の題名１ %}

                    <li>{{ タイトル４の題名１ }}</li>

                {% endif %}



                {% if タイトル４の題名２ %}

                    <li>{{ タイトル４の題名２ }}</li>

                {% endif %}



                {% if タイトル４の題名３ %}

                    <li>{{ タイトル４の題名３ }}</li>

                {% endif %}



                {% if タイトル４の題名４ %}

                    <li>{{ タイトル４の題名４ }}</li>

                {% endif %}



                {% if タイトル４の題名５ %}

                    <li>{{ タイトル４の題名５ }}</li>

                {% endif %}



                {% if タイトル４の題名６ %}

                    <li>{{ タイトル４の題名６ }}</li>

                {% endif %}



                {% if タイトル４の題名７ %}

                    <li>{{ タイトル４の題名７ }}</li>

                {% endif %}



                {% if タイトル４の題名８ %}

                    <li>{{ タイトル４の題名８ }}</li>

                {% endif %}



                {% if タイトル４の題名９ %}

                    <li>{{ タイトル４の題名９ }}</li>

                {% endif %}



                {% if タイトル４の題名１０ %}

                    <li>{{ タイトル４の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル４の詳細 %}

                <p>{{ タイトル４の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}



    {% if タイトル５ %}

        <div class="section-s">

            <h2>{{ タイトル５ }}</h2>

            <ul>

                {% if タイトル５の題名１ %}

                    <li>{{ タイトル５の題名１ }}</li>

                {% endif %}



                {% if タイトル５の題名２ %}

                    <li>{{ タイトル５の題名２ }}</li>

                {% endif %}



                {% if タイトル５の題名３ %}

                    <li>{{ タイトル５の題名３ }}</li>

                {% endif %}



                {% if タイトル５の題名４ %}

                    <li>{{ タイトル５の題名４ }}</li>

                {% endif %}



                {% if タイトル５の題名５ %}

                    <li>{{ タイトル５の題名５ }}</li>

                {% endif %}



                {% if タイトル５の題名６ %}

                    <li>{{ タイトル５の題名６ }}</li>

                {% endif %}



                {% if タイトル５の題名７ %}

                    <li>{{ タイトル５の題名７ }}</li>

                {% endif %}



                {% if タイトル５の題名８ %}

                    <li>{{ タイトル５の題名８ }}</li>

                {% endif %}



                {% if タイトル５の題名９ %}

                    <li>{{ タイトル５の題名９ }}</li>

                {% endif %}



                {% if タイトル５の題名１０ %}

                    <li>{{ タイトル５の題名１０ }}</li>
            
                {% endif %}
            </ul>
            {% if タイトル５の詳細 %}
                <p>{{ タイトル５の詳細 }}</p>
            {% endif %}
        </div>
    {% endif %}

    {% if タイトル６ %}
        <div class="section-s">
            <h2>{{ タイトル６ }}</h2>
            <ul>
                {% if タイトル６の題名１ %}
                    <li>{{ タイトル６の題名１ }}</li>
                {% endif %}

                {% if タイトル６の題名２ %}
                    <li>{{ タイトル６の題名２ }}</li>
                {% endif %}

                {% if タイトル６の題名３ %}
                    <li>{{ タイトル６の題名３ }}</li>
                {% endif %}

                {% if タイトル６の題名４ %}
                    <li>{{ タイトル６の題名４ }}</li>
                {% endif %}

                {% if タイトル６の題名５ %}
                    <li>{{ タイトル６の題名５ }}</li>
                {% endif %}

                {% if タイトル６の題名６ %}
                    <li>{{ タイトル６の題名６ }}</li>

                {% endif %}



                {% if タイトル６の題名７ %}

                    <li>{{ タイトル６の題名７ }}</li>

                {% endif %}



                {% if タイトル６の題名８ %}

                    <li>{{ タイトル６の題名８ }}</li>

                {% endif %}



                {% if タイトル６の題名９ %}

                    <li>{{ タイトル６の題名９ }}</li>

                {% endif %}



                {% if タイトル６の題名１０ %}

                    <li>{{ タイトル６の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル６の詳細 %}

                <p>{{ タイトル６の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}



    {% if タイトル７ %}

        <div class="section-s">

            <h2>{{ タイトル７ }}</h2>

            <ul>

                {% if タイトル７の題名１ %}

                    <li>{{ タイトル７の題名１ }}</li>

                {% endif %}



                {% if タイトル７の題名２ %}

                    <li>{{ タイトル７の題名２ }}</li>

                {% endif %}



                {% if タイトル７の題名３ %}

                    <li>{{ タイトル７の題名３ }}</li>

                {% endif %}



                {% if タイトル７の題名４ %}

                    <li>{{ タイトル７の題名４ }}</li>

                {% endif %}



                {% if タイトル７の題名５ %}

                    <li>{{ タイトル７の題名５ }}</li>

                {% endif %}



                {% if タイトル７の題名６ %}

                    <li>{{ タイトル７の題名６ }}</li>

                {% endif %}



                {% if タイトル７の題名７ %}

                    <li>{{ タイトル７の題名７ }}</li>

                {% endif %}



                {% if タイトル７の題名８ %}

                    <li>{{ タイトル７の題名８ }}</li>

                {% endif %}



                {% if タイトル７の題名９ %}

                    <li>{{ タイトル７の題名９ }}</li>

                {% endif %}



                {% if タイトル７の題名１０ %}

                    <li>{{ タイトル７の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル７の詳細 %}

                <p>{{ タイトル７の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}



    {% if タイトル８ %}

        <div class="section-s">

            <h2>{{ タイトル８ }}</h2>

            <ul>

                {% if タイトル８の題名１ %}

                    <li>{{ タイトル８の題名１ }}</li>

                {% endif %}



                {% if タイトル８の題名２ %}

                    <li>{{ タイトル８の題名２ }}</li>

                {% endif %}



                {% if タイトル８の題名３ %}

                    <li>{{ タイトル８の題名３ }}</li>

                {% endif %}



                {% if タイトル８の題名４ %}

                    <li>{{ タイトル８の題名４ }}</li>

                {% endif %}



                {% if タイトル８の題名５ %}

                    <li>{{ タイトル８の題名５ }}</li>

                {% endif %}



                {% if タイトル８の題名６ %}

                    <li>{{ タイトル８の題名６ }}</li>

                {% endif %}



                {% if タイトル８の題名７ %}

                    <li>{{ タイトル８の題名７ }}</li>

                {% endif %}



                {% if タイトル８の題名８ %}

                    <li>{{ タイトル８の題名８ }}</li>

                {% endif %}



                {% if タイトル８の題名９ %}

                    <li>{{ タイトル８の題名９ }}</li>

                {% endif %}



                {% if タイトル８の題名１０ %}

                    <li>{{ タイトル８の題名１０ }}</li>

                {% endif %}

            </ul>

            {% if タイトル８の詳細 %}

                <p>{{ タイトル８の詳細 }}</p>

            {% endif %}

        </div>

    {% endif %}

    {% if タイトル９ %}

    <div class="section-s">

        <h2>{{ タイトル９ }}</h2>

        <ul>

            {% if タイトル９の題名１ %}

                <li>{{ タイトル９の題名１ }}</li>

            {% endif %}



            {% if タイトル９の題名２ %}

                <li>{{ タイトル９の題名２ }}</li>

            {% endif %}



            {% if タイトル９の題名３ %}

                <li>{{ タイトル９の題名３ }}</li>

            {% endif %}



            {% if タイトル９の題名４ %}

                <li>{{ タイトル９の題名４ }}</li>

            {% endif %}



            {% if タイトル９の題名５ %}

                <li>{{ タイトル９の題名５ }}</li>

            {% endif %}



            {% if タイトル９の題名６ %}

                <li>{{ タイトル９の題名６ }}</li>

            {% endif %}



            {% if タイトル９の題名７ %}

                <li>{{ タイトル９の題名７ }}</li>

            {% endif %}



            {% if タイトル９の題名８ %}

                <li>{{ タイトル９の題名８ }}</li>

            {% endif %}



            {% if タイトル９の題名９ %}

                <li>{{ タイトル９の題名９ }}</li>

            {% endif %}



            {% if タイトル９の題名１０ %}

                <li>{{ タイトル９の題名１０ }}</li>

            {% endif %}

        </ul>

        {% if タイトル９の詳細 %}

            <p>{{ タイトル９の詳細 }}</p>

        {% endif %}

    </div>

        {% endif %}



        {% if タイトル１０ %}

            <div class="section-s">

                <h2>{{ タイトル１０ }}</h2>

                <ul>

                    {% if タイトル１０の題名１ %}

                        <li>{{ タイトル１０の題名１ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名２ %}

                        <li>{{ タイトル１０の題名２ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名３ %}

                        <li>{{ タイトル１０の題名３ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名４ %}

                        <li>{{ タイトル１０の題名４ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名５ %}

                        <li>{{ タイトル１０の題名５ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名６ %}

                        <li>{{ タイトル１０の題名６ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名７ %}

                        <li>{{ タイトル１０の題名７ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名８ %}

                        <li>{{ タイトル１０の題名８ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名９ %}

                        <li>{{ タイトル１０の題名９ }}</li>

                    {% endif %}



                    {% if タイトル１０の題名１０ %}

                        <li>{{ タイトル１０の題名１０ }}</li>

                    {% endif %}

                </ul>

                {% if タイトル１０の詳細 %}

                    <p>{{ タイトル１０の詳細 }}</p>

                {% endif %}

            </div>

        {% endif %}



        {% if タイトル１１ %}

            <div class="section-s">

                <h2>{{ タイトル１１ }}</h2>

                <ul>

                    {% if タイトル１１の題名１ %}

                        <li>{{ タイトル１１の題名１ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名２ %}

                        <li>{{ タイトル１１の題名２ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名３ %}

                        <li>{{ タイトル１１の題名３ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名４ %}

                        <li>{{ タイトル１１の題名４ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名５ %}

                        <li>{{ タイトル１１の題名５ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名６ %}

                        <li>{{ タイトル１１の題名６ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名７ %}

                        <li>{{ タイトル１１の題名７ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名８ %}

                        <li>{{ タイトル１１の題名８ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名９ %}

                        <li>{{ タイトル１１の題名９ }}</li>

                    {% endif %}



                    {% if タイトル１１の題名１０ %}

                        <li>{{ タイトル１１の題名１０ }}</li>

                    {% endif %}

                </ul>

                {% if タイトル１１の詳細 %}

                    <p>{{ タイトル１１の詳細 }}</p>

                {% endif %}

            </div>

        {% endif %}



        {% if タイトル１２ %}

            <div class="section-s">

                <h2>{{ タイトル１２ }}</h2>

                <ul>

                    {% if タイトル１２の題名１ %}

                        <li>{{ タイトル１２の題名１ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名２ %}

                        <li>{{ タイトル１２の題名２ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名３ %}

                        <li>{{ タイトル１２の題名３ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名４ %}

                        <li>{{ タイトル１２の題名４ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名５ %}

                        <li>{{ タイトル１２の題名５ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名６ %}

                        <li>{{ タイトル１２の題名６ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名７ %}

                        <li>{{ タイトル１２の題名７ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名８ %}

                        <li>{{ タイトル１２の題名８ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名９ %}

                        <li>{{ タイトル１２の題名９ }}</li>

                    {% endif %}



                    {% if タイトル１２の題名１０ %}

                        <li>{{ タイトル１２の題名１０ }}</li>

                    {% endif %}

                </ul>

                {% if タイトル１２の詳細 %}

                    <p>{{ タイトル１２の詳細 }}</p>

                {% endif %}

            </div>

        {% endif %}

        {% if タイトル１３ %}

            <div class="section-s">

                <h2>{{ タイトル１３ }}</h2>

                <ul>

                    {% if タイトル１３の題名１ %}

                        <li>{{ タイトル１３の題名１ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名２ %}

                        <li>{{ タイトル１３の題名２ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名３ %}

                        <li>{{ タイトル１３の題名３ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名４ %}

                        <li>{{ タイトル１３の題名４ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名５ %}

                        <li>{{ タイトル１３の題名５ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名６ %}

                        <li>{{ タイトル１３の題名６ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名７ %}

                        <li>{{ タイトル１３の題名７ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名８ %}

                        <li>{{ タイトル１３の題名８ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名９ %}

                        <li>{{ タイトル１３の題名９ }}</li>

                    {% endif %}



                    {% if タイトル１３の題名１０ %}

                        <li>{{ タイトル１３の題名１０ }}</li>

                    {% endif %}

                </ul>

                {% if タイトル１３の詳細 %}

                    <p>{{ タイトル１３の詳細 }}</p>

                {% endif %}

            </div>

        {% endif %}



        {% if タイトル１４ %}

            <div class="section-s">

                <h2>{{ タイトル１４ }}</h2>

                <ul>

                    {% if タイトル１４の題名１ %}

                        <li>{{ タイトル１４の題名１ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名２ %}

                        <li>{{ タイトル１４の題名２ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名３ %}

                        <li>{{ タイトル１４の題名３ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名４ %}

                        <li>{{ タイトル１４の題名４ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名５ %}

                        <li>{{ タイトル１４の題名５ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名６ %}

                        <li>{{ タイトル１４の題名６ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名７ %}

                        <li>{{ タイトル１４の題名７ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名８ %}

                        <li>{{ タイトル１４の題名８ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名９ %}

                        <li>{{ タイトル１４の題名９ }}</li>

                    {% endif %}



                    {% if タイトル１４の題名１０ %}

                        <li>{{ タイトル１４の題名１０ }}</li>

                    {% endif %}

                </ul>

                {% if タイトル１４の詳細 %}

                    <p>{{ タイトル１４の詳細 }}</p>

                {% endif %}

            </div>

        {% endif %}



        {% if タイトル１５ %}

            <div class="section-s">

                <h2>{{ タイトル１５ }}</h2>

                <ul>

                    {% if タイトル１５の題名１ %}

                        <li>{{ タイトル１５の題名１ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名２ %}

                        <li>{{ タイトル１５の題名２ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名３ %}

                        <li>{{ タイトル１５の題名３ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名４ %}

                        <li>{{ タイトル１５の題名４ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名５ %}

                        <li>{{ タイトル１５の題名５ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名６ %}

                        <li>{{ タイトル１５の題名６ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名７ %}

                        <li>{{ タイトル１５の題名７ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名８ %}

                        <li>{{ タイトル１５の題名８ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名９ %}

                        <li>{{ タイトル１５の題名９ }}</li>

                    {% endif %}



                    {% if タイトル１５の題名１０ %}

                        <li>{{ タイトル１５の題名１０ }}</li>

                    {% endif %}

                </ul>

                {% if タイトル１５の詳細 %}

                    <p>{{ タイトル１５の詳細 }}</p>

                {% endif %}

            </div>

        {% endif %}

</div>
<div class="container-s">
    <section>
        <div class="section-s-header">
            <h1>{{ 流れタイトル１ }}</h1>
            <button type="button" onclick="location.href='/form/index.php'" class="apply-button">応募</button>
        </div>
        <ol>
            {% if 手順１題目 %}

                <li>

                    <strong>{{ 手順１題目 }}</strong>{{ 手順１詳細 }}

                    <ul>

                        {% if 手順１備考１ %}

                            <li>{{ 手順１備考１ }}</li>

                        {% endif %}



                        {% if 手順１備考２ %}

                            <li>{{ 手順１備考２ }}</li>

                        {% endif %}



                        {% if 手順１備考３ %}

                            <li>{{ 手順１備考３ }}</li>

                        {% endif %}



                        {% if 手順１備考４ %}

                            <li>{{ 手順１備考４ }}</li>

                        {% endif %}



                        {% if 手順１備考５ %}

                            <li>{{ 手順１備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順２題目 %}

                <li>

                    <strong>{{ 手順２題目 }}</strong>{{ 手順２詳細 }}

                    <ul>

                        {% if 手順２備考１ %}

                            <li>{{ 手順２備考１ }}</li>

                        {% endif %}



                        {% if 手順２備考２ %}

                            <li>{{ 手順２備考２ }}</li>

                        {% endif %}



                        {% if 手順２備考３ %}

                            <li>{{ 手順２備考３ }}</li>

                        {% endif %}



                        {% if 手順２備考４ %}

                            <li>{{ 手順２備考４ }}</li>

                        {% endif %}



                        {% if 手順２備考５ %}

                            <li>{{ 手順２備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順３題目 %}

                <li>

                    <strong>{{ 手順３題目 }}</strong>{{ 手順３詳細 }}

                    <ul>

                        {% if 手順３備考１ %}

                            <li>{{ 手順３備考１ }}</li>

                        {% endif %}



                        {% if 手順３備考２ %}

                            <li>{{ 手順３備考２ }}</li>

                        {% endif %}



                        {% if 手順３備考３ %}

                            <li>{{ 手順３備考３ }}</li>

                        {% endif %}



                        {% if 手順３備考４ %}

                            <li>{{ 手順３備考４ }}</li>

                        {% endif %}



                        {% if 手順３備考５ %}

                            <li>{{ 手順３備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順４題目 %}

                <li>

                    <strong>{{ 手順４題目 }}</strong>{{ 手順４詳細 }}

                    <ul>

                        {% if 手順４備考１ %}

                            <li>{{ 手順４備考１ }}</li>

                        {% endif %}



                        {% if 手順４備考２ %}

                            <li>{{ 手順４備考２ }}</li>

                        {% endif %}



                        {% if 手順４備考３ %}

                            <li>{{ 手順４備考３ }}</li>

                        {% endif %}



                        {% if 手順４備考４ %}

                            <li>{{ 手順４備考４ }}</li>

                        {% endif %}



                        {% if 手順４備考５ %}

                            <li>{{ 手順４備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順５題目 %}

                <li>

                    <strong>{{ 手順５題目 }}</strong>{{ 手順５詳細 }}

                    <ul>

                        {% if 手順５備考１ %}

                            <li>{{ 手順５備考１ }}</li>

                        {% endif %}



                        {% if 手順５備考２ %}

                            <li>{{ 手順５備考２ }}</li>

                        {% endif %}



                        {% if 手順５備考３ %}

                            <li>{{ 手順５備考３ }}</li>

                        {% endif %}



                        {% if 手順５備考４ %}

                            <li>{{ 手順５備考４ }}</li>

                        {% endif %}



                        {% if 手順５備考５ %}

                            <li>{{ 手順５備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順６題目 %}

                <li>

                    <strong>{{ 手順６題目 }}</strong>{{ 手順６詳細 }}

                    <ul>

                        {% if 手順６備考１ %}

                            <li>{{ 手順６備考１ }}</li>

                        {% endif %}



                        {% if 手順６備考２ %}

                            <li>{{ 手順６備考２ }}</li>

                        {% endif %}



                        {% if 手順６備考３ %}

                            <li>{{ 手順６備考３ }}</li>

                        {% endif %}



                        {% if 手順６備考４ %}

                            <li>{{ 手順６備考４ }}</li>

                        {% endif %}



                        {% if 手順６備考５ %}

                            <li>{{ 手順６備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順７題目 %}

                <li>

                    <strong>{{ 手順７題目 }}</strong>{{ 手順７詳細 }}

                    <ul>

                        {% if 手順７備考１ %}

                            <li>{{ 手順７備考１ }}</li>

                        {% endif %}



                        {% if 手順７備考２ %}

                            <li>{{ 手順７備考２ }}</li>

                        {% endif %}



                        {% if 手順７備考３ %}

                            <li>{{ 手順７備考３ }}</li>

                        {% endif %}



                        {% if 手順７備考４ %}

                            <li>{{ 手順７備考４ }}</li>

                        {% endif %}



                        {% if 手順７備考５ %}

                            <li>{{ 手順７備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}



            {% if 手順８題目 %}

                <li>

                    <strong>{{ 手順８題目 }}</strong>{{ 手順８詳細 }}

                    <ul>

                        {% if 手順８備考１ %}

                            <li>{{ 手順８備考１ }}</li>

                        {% endif %}



                        {% if 手順８備考２ %}

                            <li>{{ 手順８備考２ }}</li>

                        {% endif %}



                        {% if 手順８備考３ %}

                            <li>{{ 手順８備考３ }}</li>

                        {% endif %}



                        {% if 手順８備考４ %}

                            <li>{{ 手順８備考４ }}</li>

                        {% endif %}

                        {% if 手順８備考５ %}

                            <li>{{ 手順８備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}

            {% if 手順９題目 %}

                <li>

                    <strong>{{ 手順９題目 }}</strong>{{ 手順９詳細 }}

                    <ul>

                        {% if 手順９備考１ %}

                            <li>{{ 手順９備考１ }}</li>

                        {% endif %}

                        {% if 手順９備考２ %}

                            <li>{{ 手順９備考２ }}</li>

                        {% endif %}

                        {% if 手順９備考３ %}

                            <li>{{ 手順９備考３ }}</li>

                        {% endif %}

                        {% if 手順９備考４ %}

                            <li>{{ 手順９備考４ }}</li>

                        {% endif %}

                        {% if 手順９備考５ %}

                            <li>{{ 手順９備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}

            {% if 手順１０題目 %}

                <li>

                    <strong>{{ 手順１０題目 }}</strong>{{ 手順１０詳細 }}

                    <ul>

                        {% if 手順１０備考１ %}

                            <li>{{ 手順１０備考１ }}</li>

                        {% endif %}

                        {% if 手順１０備考２ %}

                            <li>{{ 手順１０備考２ }}</li>

                        {% endif %}

                        {% if 手順１０備考３ %}

                            <li>{{ 手順１０備考３ }}</li>

                        {% endif %}

                        {% if 手順１０備考４ %}

                            <li>{{ 手順１０備考４ }}</li>

                        {% endif %}

                        {% if 手順１０備考５ %}

                            <li>{{ 手順１０備考５ }}</li>

                        {% endif %}

                    </ul>

                </li>

            {% endif %}

        </ol>
    </section>
</div>
{% else %}
<div class="container-s">
    <section>
        <div class="section-s-header">
            <h1>募集を締め切りました。</h1>
        </div>
    </section>
</div>
{% endif %}


<div class="margin">
</div>  

 <!-- フッター -->
<div class="header-container-1024">
        {% include 'footer/footer.twig' %}
</div>

<div class="header-container-1023">
        {% include 'footer/confirm.twig' %}
</div>


<!-- JavaScriptのリンク -->
<script src="/src/js/busines-header/busines-hover.js"></script>
</body>
</html>